---

---

<section class="section hero">
    <h1 class="title">SLIMEPEDIA API</h1>

    <div class="buttons">
        <a class="button btn1" href="/docs" class="button">GET STARTED</a>
        <a class="button btn2" href="/docs" class="button">DOCS</a>
    </div>
</section>



<style>
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--lightBackgroundColor);
    height: 100vh;
}

.title{
    font-size: 5rem;
    font-weight: 800;
}

.buttons{
    display: flex;
    gap: 16px;
}

.button{
    display: inline-block;
    padding: 16px 32px;
    background-color: var(--accentPink);
    border-radius: 90px;
    text-decoration: none;
    color: var(--accentBackgroundTextColor);
    font-weight: bold;
}

.btn1{
    background-color: var(--accentPink);
}
.btn2{
    background-color: var(--accentBlue);
}

</style>